.App {
  text-align: center;
}
.todo-app {
  padding: 1.2em;
  .new-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
      width: 80% !important;
    }
    margin-bottom: 0.5rem;
  }
}

.list-group-item {
  span {
    float:right;
  }
}